[Unit]
Description=Arrow SoCKit XFCE Session
After=arrow-sockit-fpga-init.service

[Service]
Type=simple
ExecStart=/usr/bin/startxfce4

[Install]
WantedBy=basic.target
